html {
    background-color: #f9eadc;
    font-family: 'Rubik', sans-serif;
}

body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
}

nav .navbar-nav li a{
    color: #84615a !important;
}


.description-section{
    padding: 10px;
}

.location-desc {
    background-color: #84615a;
    color:#f9eadc;
    padding: .5rem;
    font-family: 'Rubik', sans-serif;
    border-radius: 2in;
    font-size: 1.5rem;
}

section .intro-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:#f9eadc;
}

.intro-container h3,h2{
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
}

.header {
    margin: 2rem;
    padding-bottom: 2rem;
}

.intro-heading {
    position: absolute;
}

section.intro-container h2 {
    font-size: 1rem;
}

/* Container that is in the middle of the screen */
.container {
    display: flex;
    flex-direction: column;
    color: #84615a;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.2rem;
}

@media (min-width: 767px) {
    nav .navigation-container ul li a {
      font-size: 1.125rem;
      padding: 30px 15px;
    }
}


/* Footer */

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#6cf;  /* Height of the footer */
}

.intro-heading h2, .intro-heading h3, .description-container p, .footer-container p {
    text-align: center;
    color: #84615a;
}


/* Media adjustments due to screensizing */
@media (min-width: 1200px) {
    .intro-heading h2 {
        font-size: 2.5rem; /* Larger screens */
    }
    .intro-heading h3 {
        font-size: 1.75rem;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .intro-heading h2 {
        font-size: 2rem; /* Medium screens */
    }
    .intro-heading h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 767px) {
    .intro-heading h2 {
        font-size: 1.5rem; /* Small screens */
    }
    .intro-heading h3 {
        font-size: 1.25rem;
    }
}

@media (max-width: 480px) {
    .intro-heading h2 {
        font-size: 1.25rem; /* Extra small screens */
    }
    .intro-heading h3 {
        font-size: 1rem;
    }
}

