html {
    background-color: #9fc2f0;
    font-family: 'Rubik', sans-serif;
}

body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
}

.description-section{
    padding: 10px;
}

.location-desc {
    background-color: #9fc2f0;
    padding: .5rem;
    font-family: 'Rubik', sans-serif;
    border-radius: 10px;
    font-size: 1.5rem;
}

section .intro-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #9fc2f0;
}

.intro-container h3,h2{
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
    color: #ECF0F1;
}


section .home-page-img {
    max-width: 70%;
    width: 100vw;
    filter: brightness(50%);
}

.intro-heading {
    color: #ECF0F1;
    position: absolute;
}

section.intro-container h2 {
    font-size: 1rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.2rem;
}

@media (min-width: 767px) {
    nav .navigation-container ul li a {
      font-size: 1.125rem;
      padding: 30px 15px;
    }
}

img.home-page-img {
    border-radius: 50%;
}

.brief-intro {
    background-color: #9fc2f0;
    border-color:black;
}

.footer-container{
    bottom: 0;
    background-color: #9fc2f0;
    text-align: center;
    align-items: center;
}

.intro-heading h2, .intro-heading h3 {
    text-align: center;
    color: #ECF0F1;
}

@media (min-width: 1200px) {
    .intro-heading h2 {
        font-size: 2.5rem; /* Larger screens */
    }
    .intro-heading h3 {
        font-size: 1.75rem;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .intro-heading h2 {
        font-size: 2rem; /* Medium screens */
    }
    .intro-heading h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 767px) {
    .intro-heading h2 {
        font-size: 1.5rem; /* Small screens */
    }
    .intro-heading h3 {
        font-size: 1.25rem;
    }
}

@media (max-width: 480px) {
    .intro-heading h2 {
        font-size: 1.25rem; /* Extra small screens */
    }
    .intro-heading h3 {
        font-size: 1rem;
    }
}

