html {
    background-color: #ECF0F1;
    font-family: 'Rubik', sans-serif;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: #ECF0F1;
}

nav .logo-container img{
    width: auto;
    max-width: 130px;
    margin: 15px 5px;
}

nav .navigation-container {
    width: 100%;
}

nav .navigation-container ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation-container ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav .navigation-container ul li a {
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    font-size: 1rem;
    color: black;
    padding: 10px 5px;
}

section .intro-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
}

.intro-container h3,h2{
    display: flex;
    justify-content: center;
    color: #ECF0F1;
}


section .photobox-Branding {
    max-width: 100%;
    height: 100%;
    width: 100vw;
    filter: brightness(50%);
}

section .intro-heading {
    color: #ECF0F1;
    position: absolute;
}

section .intro-container h2 {
    font-size: 3rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.2rem;
}

  @media (min-width: 767px) {
    nav .navigation-container ul li a {
      font-size: 1.125rem;
      padding: 30px 15px;
    }
  }

@media screen and (max-width: 767px) {
    nav .logo-container img {
        max-height: 40px;
    }
}